In [ ]:
##=============== The webscrapping algorithm ==================================
# In this file, you can see our code to webscrap datas from vgchartz.com
# After the webscrapping, you can see a brief cleaning part of the resulting dataframe. 
# Some work could be done to realize the webscrapping in a more automatic way. 
# Also, some text analysis could be done to join our 2 dataframes (from vgchartz and from kaggle) on their titles.

#Team : 
# Joao
# Gabriel
# Louis (me) - Junior Data Analyst - Open to work or to join other collaborative projects !
#(Linkedin : www.linkedin.com/in/louisthellier; CV : https://drive.google.com/file/d/1vJm6Jv-W9RXXKj9dQcOAraonT1LXfUqI/view?usp=sharing); Github : https://github.com/LThel;)

In [1]:
import pandas as pd
import requests
from bs4 import BeautifulSoup
#url ="https://www.vgchartz.com/gamedb/"
#html = requests.get(url)

#ds = pd.DataFrame(response.json())

#html_doc = pd.read_html(url)
#soup = BeautifulSoup(html.text, 'html.parser')

In [ ]:
names = soup.find_all("td", {"style": "font-size:12pt;"})
print(len(names))

50

In [ ]:
#pd.read_html(url)
html_doc = pd.read_html(url)
df = html_doc[-2]

In [ ]:
clean_df = pd.DataFrame()
clean_df['Names'] = df.iloc[:,2]
clean_df['Total_shipped'] = df.iloc[:,8]

In [ ]:
clean_df

                             Names Total_shipped
0                           Tetris       496.40m
1                          Pokemon       464.84m
2                     Call of Duty       400.00m
3                      Super Mario       398.51m
4                 Grand Theft Auto       395.00m
5                             FIFA       325.00m
6                        Minecraft       238.00m
7                        Minecraft       238.00m
8                             Lego       203.22m
9                 Assassin's Creed       200.00m
10                        The Sims       200.00m
11              Grand Theft Auto V       175.00m
12                      Mario Kart       173.41m
13                   Final Fantasy       173.20m
14                  Need for Speed       150.00m
15                     Tomb Raider       141.00m
16                   Resident Evil       139.00m
17                          NBA 2K       130.00m
18                      Madden NFL       130.00m
19             The Legend of Zelda       125.31m
20             Wii/Nintendo Sports       124.65m
21  Pro Evolution Soccer/eFootball       112.50m
22              Sonic the Hedgehog        95.51m
23                  Monster Hunter        90.30m
24                    Gran Turismo        90.00m
25                    Dragon Quest        85.00m
26                      Wii Sports        82.90m
27                            Halo        81.00m
28                   Mortal Kombat        79.00m
29                     Battlefield        78.90m
30                     Borderlands        78.00m
31                 Animal Crossing        76.46m
32                            PUBG        75.00m
33                           Worms        75.00m
34               Super Smash Bros.        71.73m
35                     Mario Party        70.09m
36                      Just Dance        70.00m
37                        Red Dead        70.00m
38                          WWE 2K        70.00m
39   PlayerUnknown's Battlegrounds        70.00m
40                     Dragon Ball        65.85m
41                      God of War        65.50m
42                    Civilization        65.00m
43                     The Witcher        65.00m
44                The Oregon Trail        65.00m
45                  Counter-Strike        65.00m
46                     Donkey Kong        65.00m
47                      Metal Gear        59.50m
48               The Elder Scrolls        58.62m
49                          Diablo        55.00m

In [3]:
def grab_total_shipped(p):
    url = f"https://www.vgchartz.com/games/games.php?page={p}&console=3DS&order=Sales&ownership=Both&direction=DESC&showtotalsales=1&shownasales=0&showpalsales=0&showjapansales=0&showpublisher=1&showdeveloper=0&showreleasedate=1&showlastupdate=0&showvgchartzscore=1&showcriticscore=1&showuserscore=1"
    html_doc = pd.read_html(url)    
    #Grab the columns on the page 
    df = html_doc[-2]
    if p == 1:
        dfA = pd.DataFrame()
        dfB = pd.DataFrame()
        dfA['Names'] = df.iloc[:,2]
        dfA['Total_shipped'] = df.iloc[:,8]
    elif p == 24 :
        #dfB = pd.DataFrame()
        dfB['Names'] = df.iloc[:,2]
        dfB['Total_shipped'] = df.iloc[:,8]        
        dfA = pd.concat([dfA, dfB])
        
    elif p > 1 :
        dfB['Names'] = df.iloc[:,2]
        dfB['Total_shipped'] = df.iloc[:,8]        
        dfA = pd.concat([dfA, dfB])
    return dfA  

#x = pd.DataFrame(map(grab_total_shipped, range(1,4)))
#print(x)
grab_total_shipped(1)

                                                Names Total_shipped
0                        Mario Kart 7 Read the review        15.49m
1                         Pokémon X/Y Read the review        16.13m
2                                    Pokémon Sun/Moon        15.17m
3           Pokémon Omega Ruby/Pokémon Alpha Sapphire        12.73m
4             New Super Mario Bros. 2 Read the review        11.33m
5           Animal Crossing: New Leaf Read the review        10.90m
6                 Super Mario 3D Land Read the review        11.56m
7           Super Smash Bros. for 3DS Read the review         8.32m
8                   Pokémon: Ultra Sun and Ultra Moon         7.15m
9   Yokai Watch 2: Bony Spirits / Fleshy Souls / P...         3.65m
10                                     Tomodachi Life         5.88m
11         Luigi's Mansion: Dark Moon Read the review         5.44m
12  The Legend of Zelda: Ocarina of Time 3D Read t...         2.00m
13            The Legend of Zelda: Ocarina of Time 3D         5.33m
14                  Nintendogs + cats Read the review         4.15m
15                         Monster Hunter Generations         3.56m
16  The Legend of Zelda: A Link Between Worlds Rea...         3.57m
17                          Monster Hunter 4 Ultimate         3.96m
18                                   Monster Hunter 4         3.44m
19                                  Super Mario Maker         3.23m
20               Animal Crossing: Happy Home Designer         3.41m
21  The Legend of Zelda: Majora's Mask 3D Read the...         2.50m
22                                  Fire Emblem Fates         1.98m
23                                        Yokai Watch         2.55m
24           Mario Party: Island Tour Read the review         2.40m
25     Donkey Kong Country Returns 3D Read the review         2.13m
26          Mario & Luigi: Dream Team Read the review         2.33m
27                               Kirby: Triple Deluxe         2.05m
28                                  Monster Hunter 3G         2.82m
29          Paper Mario: Sticker Star Read the review         2.41m
30  Yokai Watch Blasters: Red Cat Corps / White Do...         2.44m
31             Fire Emblem: Awakening Read the review         2.10m
32          Yokai Watch 3: Sushi / Tempura / Sukiyaki         1.53m
33                 Yoshi's New Island Read the review         1.66m
34             LEGO City Undercover: The Chase Begins         1.74m
35                                    Dragon Quest XI         1.82m
36                        Monster Hunter Double Cross         1.68m
37                     Tomodachi Collection: New Life         1.69m
38                      Pokémon Super Mystery Dungeon         1.41m
39                              Kirby: Planet Robobot         1.32m
40  Dragon Quest VII: Fragments of the Forgotten Past         1.61m
41                  Mario Tennis Open Read the review         1.00m
42                                   Puzzle & Dragons         1.52m
43  Professor Layton and the Mask of Miracle Read ...         1.84m
44                          Style Savvy: Trendsetters         0.75m
45                       Style Savvy: Fashion Forward         0.83m
46      Bravely Default: Flying Fairy Read the review         1.41m
47               Pokémon Rumble Blast Read the review         1.15m
48         Pokémon Mystery Dungeon: Gates to Infinity         1.31m
49               Kid Icarus: Uprising Read the review         1.28m

In [19]:
#Webscrapping Algorithm : Select the platform and the last page before running the algorithm - Need to automatize
platform = 'N64' # iOS:4 ; NS:45 ; 3DS:24 ; DS:66 ; DSi:2 ; Wii:34 ; WiiU:12 ; GBA:34 ; GBC:1 ; N64:8
last_page = 8
for p in range(1,last_page+1):
    url = f"https://www.vgchartz.com/games/games.php?page={p}&console={platform}&order=Sales&ownership=Both&direction=DESC&showtotalsales=1&shownasales=0&showpalsales=0&showjapansales=0&showothersales=0&showpublisher=1&showdeveloper=0&showreleasedate=1&showlastupdate=0&showvgchartzscore=1&showcriticscore=1&showuserscore=1&showshipped=1"
    html_doc = pd.read_html(url)    
    #Grab the columns on the page 
    df = html_doc[-2]
    if p == 1:
        dfA = pd.DataFrame()
        dfB = pd.DataFrame()
        dfA['Names'] = df.iloc[:,2]
        dfA['Total_shipped'] = df.iloc[:,8]
        dfA['Total_sales'] = df.iloc[:,9]
    elif p == last_page :
        dfB = pd.DataFrame()
        dfB['Names'] = df.iloc[:,2]
        dfB['Total_shipped'] = df.iloc[:,8]
        dfB['Total_sales'] = df.iloc[:,9]
        dfA = pd.concat([dfA, dfB])
        if platform == '3DS':
            dfA.to_csv(f"df_TroisDS.csv")
        else:
            dfA.to_csv(f"df_{platform}.csv")
    elif p > 1 :
        dfB['Names'] = df.iloc[:,2]
        dfB['Total_shipped'] = df.iloc[:,8]
        dfB['Total_sales'] = df.iloc[:,9]
        dfA = pd.concat([dfA, dfB])

In [25]:
platforms = ['3DS', 'DS', 'GBA', 'iOS', 'N64', 'NS', 'Wii', 'WiiU']
consol_list = []
for consol in platforms:     
    consol_list.append(consol)
    consol = pd.read_csv(f"C:\Users\louis\OneDrive\Documents\GitHub\Webscrapping_NintendoGames\df_{consol}.csv")
df_concat = pd.concat(consol_list, axis=0)    


#df_concat = pd.concat([df3ds, dfDS, dfGBA, dfGC, dfiOS, dfN64, dfWii, dfWiiU], axis=0)

df_concat["total_shipped_clean"]=df_concat['Total_shipped'].str.replace('m', '').astype(float)
df_clean=df_concat.dropna(subset=["Total_shipped"])
df_bottom10 = df_clean.tail(10)
df_high10 = df_clean.head(10)
df_top = pd.concat([df_high10,df_bottom10], axis = 0).sort_values(by="total_shipped_clean", ascending = True)
#df_top_sorted = df_top.sort_values(by="total_shipped_clean")
df_top#_sorted

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 2-3: truncated \UXXXXXXXX escape (248973492.py, line 5)

In [94]:
platforms = ['TroisDS', 'DS', 'GBA', 'iOS', 'N64', 'NS', 'Wii', 'WiiU']
consol_list = []
for consol in platforms: 
    consol_list.append(locals()[consol])
    locals()[consol] = pd.read_csv(f"C:/Users/louis/OneDrive/Documents/GitHub/Webscrapping_NintendoGames/df_{consol}.csv")
df_concat = pd.concat(consol_list, axis=0)

In [95]:
# Cleaning the resulting df
df_concat.isna().sum()/df_concat.shape[0] #We have more values in Total_sales than in Total_shipped

#We can decide to select either only the games with a Total_sales values 
#or the games that has at least one of the 2 values. 
#But to do so, we have to find a way to compare Total_sales and Total_shipped. I didn't find a smart way to do so

#1st option : df_concat["Names"][(df_concat['Total_shipped'].isna()) & (df_concat['Total_sales'].isna())]
df_concat = df_concat[['Names', 'Total_sales']][df_concat['Total_sales'].isna()==False]
df_concat[df_concat['Total_sales']=='0.00m'].shape[0] #Too see how many games with 0.00m we have 
#=>We can wonder if this is a real information because it is very unlikey to have 443 games with 0.00 m of sales

#We could find a way to link the titles of this dataframe to our other dataframe from kaggle by doing some text analysis
df_concat.rename(columns = {'Names':'Titles','Total_sales':'Total sales in million'}, inplace = True)#Rename our columns
df_concat["Total sales in million"]=df_concat['Total sales in million'].str.replace('m', '').astype(float)
df_concat.reset_index(inplace = True)
df_concat.drop(['index'], axis = 1, inplace = True)

In [108]:
#Some plots
top 10 = df_concat.sort_values(by = 'Total sales in million', ascending = False).head(10)
bottom 10 = df_concat[df_concat['Total sales in million']!=0].sort_values(by = 'Total sales in million', ascending = True).head(10)

,Titles,Total sales in million
5902,Hello Kitty Kruisers,0.01
2607,Blazer Drive,0.01
2608,Hoshizora no Comic Garden,0.01
2609,Hirameki Action: Chibikko Wagyan no Daiki na B...,0.01
2610,Imagine Figure Skater (JP sales),0.01
2611,Original Frisbee Disc Sports: Ultimate & Golf,0.01
2612,Plushees,0.01
2613,Know How 2,0.01
2614,Mega Brain Boost,0.01
2615,Mezase!! Tsuri Master DS,0.01